<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %t %-5level %C{1.} (%L) - %msg%n"/>
    </Console>
    <File name="FILE" fileName="eshop.log">
    	<PatternLayout pattern="%d{HH:mm:ss} %-5level %C{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
  	<Logger name="com.infotel" level="debug" additivity="false">
      <AppenderRef ref="CONSOLE"/>  	
      <AppenderRef ref="FILE"/>  	
  	</Logger>
    <Root level="info">
      <AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>
</Configuration>